* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: hsl(0, 0%, 95%);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  margin: 40px 0;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 26px;
}

.card {
  height: 100%;
}

.card-container {
  width: 80%;
}

.sedan-card {
  background: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
}

.suv-card {
  background: hsl(184, 100%, 22%);
}

.luxury-card {
  background: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
}

.sedan-card,
.suv-card,
.luxury-card {
  padding: 50px;
}

.sedan-btn {
  color: hsl(31, 77%, 52%);
}

.sedan-btn:hover {
  color: hsl(0, 0%, 95%);
  background: hsl(31, 77%, 52%);
  border: 1px solid hsl(0, 0%, 95%);
}

.suv-btn {
  color: hsl(184, 100%, 22%);
}

.suv-btn:hover {
  color: hsl(0, 0%, 95%);
  background: hsl(184, 100%, 22%);
  border: 1px solid hsl(0, 0%, 95%);
}

.luxury-btn {
  color: hsl(179, 100%, 13%);
}

.luxury-btn:hover {
  color: hsl(0, 0%, 95%);
  background: hsl(179, 100%, 13%);
  border: 1px solid hsl(0, 0%, 95%);
}

.sedan-btn,
.suv-btn,
.luxury-btn {
  background: hsl(0, 0%, 95%);
  border-radius: 25px;
  padding: 11px 30px;
  margin-top: 75px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    margin: 40px 0 25px;
  }

  .card-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .sedan-card,
  .suv-card,
  .luxury-card {
    border-radius: 0;
  }

  .sedan-btn,
  .suv-btn,
  .luxury-btn {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    margin: 40px 0 25px;
  }

  .card-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .sedan-card,
  .suv-card,
  .luxury-card {
    border-radius: 0;
  }

  .sedan-btn,
  .suv-btn,
  .luxury-btn {
    margin-top: 10px;
  }
}
